out
dist
pnpm-lock.yaml
LICENSE.md
tsconfig.json
tsconfig.*.json
dist
out

**/*.d.ts

node_modules/
.npm
.yarn
.pnp.js


.parcel-cache
.vite

*.next/
out/
dist/
build/
.next
out-dev/
out-prod/
out-staging/

*.mjs
*.cjs


.turbo
.rts2_cache
